<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Paul | <%= title %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
  <link rel="website icon" type="png/jpg" href="./f-1.png">
  
</head>
<body>
  <header>
  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 gap-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-semibold" aria-current="page" href="intro">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-medium" href="skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="contacts">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="posts">Commets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium" href="add-post">Review</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header>
  <h1>Posts:</h1>
  <ul>
    <% if (posts.length) { %>
      <% posts.forEach(({ id, title, date, text, author }) => { %>
        <li>
          <article>
            <h2>
              <a href="/posts/<%= id %>"><%= title %></a>
            </h2>
            <p><%= text %></p>
            <div class="info">
              <span><%= date %></span>
              <span><%= author %></span>
            </div>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>